{% extends "main.html" %}
{% block content %}
<div>
  <h2>Add Item</h2><br/>
  <form method="post" action="{{url_for('addItem')}}">
    <label>Title:<br /><input type="text" name="title" /> </label> <br />
    <label>description:<br /><input type="text" name="description"/> </label><br />
    <label>Category:<br />
    <select name="Category">
      {% for Category in Categories%}
      <option value="{{Category.categ_id}}">{{Category.name}}</option>
      {% endfor %}
    </select>
   </label>
   <br />
   <input type="submit" />
  </form>
</div>

{% endblock %}
